* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 0 3rem;
    background-color: #00469e;
}
.fixed-top {
    background-color: #fff;
}

div.container-fluid {
    margin: 0 40px;
    
}
.hero-text img {
    width: 380px;
}

img.brandIcon {
    width: 32px;
}

.hero-text {
    margin-top: 4.3rem;
}

.hero-text h3 {
    color: #fff;
    font-size: 42px;
    width: 500px;
    font-weight: 600;
}

.hero-text p {
    color: #fff;
    margin-top: 1.4rem;
}

.hero-text button {
    border-radius: 12px;
    font-size: 18px;
    padding: 6px 22px 6px 22px;
    margin-top: 36px;
    box-shadow: 0px 1px 5px rgba(7, 88, 187, 0.02),
        0px 5px 22px rgba(7, 88, 187, 0.03),
        0px 12px 49px rgba(7, 88, 187, 0.05),
        0px 20px 87px rgba(7, 88, 187, 0.06),
        0px 32px 136px rgba(7, 88, 187, 0.08);
}

.floating-hero-card {
    position: absolute;
    padding: 35px;
    background-color: #ecf0f1;
    box-shadow: 0px 1px 5px rgba(7, 88, 187, 0.02),
        0px 5px 22px rgba(7, 88, 187, 0.03),
        0px 12px 49px rgba(7, 88, 187, 0.05),
        0px 20px 87px rgba(7, 88, 187, 0.06),
        0px 32px 136px rgba(7, 88, 187, 0.08);
    top: 80%;
    width: 90%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.floating-hero-card h4 {
    font-size: 3rem;
}

.floating-hero-card p {
    text-align: center;
}

.service-container {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
}

.service-title h3 {
    font-size: 2.3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #213866;
    margin-bottom: 5rem;
    text-align: center;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 0 auto;
    max-width: 1100px;
}

.service-card {
    text-align: center;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 8px 48.4px 3px rgba(45, 146, 140, 0.13);
    width: 316px;
    padding: 47px 16px;
}

.service-card img {
    pointer-events: none;
    width: 65px;
    height: 69px;
}

.service-card h3 {
    margin-top: 26px;
    font-size: 1.2rem;
    color: rgba(33, 56, 102, 0.79);
    font-weight: 600;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
}

.service-card p {
    color: rgba(33, 56, 102, 0.80);
    font-size: 1rem;
    line-height: 1.5;
}

.service-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    background-color: #3a8bcd;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.service-button:hover {
    background-color: #1f5f87;
}

.section-2 {
    padding: 8rem 9rem 0 9rem;
    display: flex;
}

.section-2 h4 {
    font-size: 2.3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #213866;
}

.subtitle {
    margin-top: 28px;
    width: 90%;
    font-size: 18px;
}

.reason-one.reasons {
    margin-top: 36px;
    display: flex;
}

.reason-two,
.reason-three {
    display: flex;
}

.reason-text {
    margin-left: 1.7rem;

}

.reason-paragraph {
    margin-right: 30px;
}

.reasons {
    margin-top: 24px;
}

.section-2-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.section-2-card {
    width: 190px;
    height: 187px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.card h3 {
    margin-bottom: 10px;
}

.section-2-card-container {
    display: flex;
    margin-top: 1.6rem;
}

.first-row {
    padding-top: 6rem;
    margin-right: 1rem;
}

.second-row .section-2-card:nth-child(2) {
    margin-top: 1rem;
}


/* animations */
.hero-text,
.hero-image,
.floating-hero-card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.hero-text.active,
.hero-image.active,
.floating-hero-card.active {
    opacity: 1;
    transform: translateY(0);
}

/* Add reveal styles for section 2 */
.section-2 h4,
.subtitle,
.reasons,
.section-2-cards {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.section-2.active h4,
.section-2.active .subtitle,
.section-2.active .reasons,
.section-2.active .section-2-cards {
    opacity: 1;
    transform: translateY(0);
}

/* Add reveal styles for service section */
.service-title h3,
.service-card,
.service-button {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.service-container.active .service-title h3,
.service-container.active .service-card,
.service-container.active .service-button {
    opacity: 1;
    transform: translateY(0);
}

/* Add reveal styles for section 2 cards */
.section-2-card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.section-2-card-container.active .section-2-card {
    opacity: 1;
    transform: translateY(0);
}

@keyframes countUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes countSlowDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.float-first-row h4 span, .float-second-row h4 span, .float-third-row h4 span {
    transform: translateY(100%);
    animation: countUp 0.5s ease-out forwards, countSlowDown 2s linear 0.5s forwards;
}

#loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; /* Set your desired background color */
  }
  
  #loading-container .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  #loading-container .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000; /* Set your desired loading spinner color */
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  
  #loading-container .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  
  #loading-container .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  
  #loading-container .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  
  #loading-container .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .section-1-container {
    margin-top: 23rem;
  }

  .section-1-header {
    text-align: center;
    font-size: 28px;
    color: #213866;
    margin-bottom: 3.5rem;
  }
  .section-1-grid {
    margin: 2rem 0 0px 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50vh;
}

.section-1-grid .grid-item {
    background-color: #b2b5b8;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.section-1-grid-item {
    display: flex;
    max-width: 700px;
}

.section-1-text {
    margin-left: 1.3rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}